.modal-overlay-order {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 22, 22, 0.421);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    animation: showIn .5s ease-in-out forwards;
    padding: 0;

    .modal-content-order {
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 90%;
        padding: 20px;
        border-radius: 12px;
        max-width: 420px;
        max-height: 95vh;
        overflow-y: auto;
        position: relative;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity .4s ease-in-out, transform .5s ease-in-out;
        animation: fadeIn .3s ease-in-out forwards;

        .button-close {
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 0.3rem 0.6rem;
            border: none;
            background-color: #eee;
            color: #333;
            font-size: 1.2rem;
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            transition: background-color 0.3s;
            
            &:hover {
                background-color: #ccc;
            }
        }
    }
    
}

@media screen and (min-width: 600px) and (max-width:  819px) {

    .modal-overlay {
        .modal-content {
            width: 75%;
            max-width: 75%;
        }
    }

}
@media screen and (min-width: 820px) and (max-width:  1000px) {

    .modal-overlay {
        .modal-content {
            width: 70%;
            max-width: 70%;
        }
    }

}

@media screen and (min-width: 1001px) and (max-width: 1200px) {

    .modal-overlay {
        .modal-content {
            width: 75%;
            max-width: 75%;
        }
    }

}

@media screen and (min-width: 1201px) {

    .modal-overlay {
        .modal-content {
            width: 80%;
            max-width: 80%;
        }
    }

}

@keyframes fadeIn {

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showIn {

    to {
        opacity: 1;
    }
}