.main-header {
    position: sticky;
    top: -1px;
    width: 100dvw;
    height: 64px;
    background-color: #f1f1f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(169, 169, 169, 0.403);

    .input-burger {
        display: none;

        &:checked {
            ~ .main-nav {
                left: 0;
            }

            ~ .burger-container {
                .burger {
                    background-color: transparent;

                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                    }

                    &::after {
                        top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    .burger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        cursor: pointer;

        .burger {
            width: 26px;
            height: 3px;
            background-color: var(--secondary-color);
            position: relative;

            &::before,
            &::after {
                content: "";
                width: 26px;
                height: 3px;
                background-color: var(--secondary-color);
                transition: transform 0.3s ease-in-out;
                position: absolute;
            }

            &::before {
                top: -8px;
            }

            &::after {
                top: 8px;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-logo {
                height: 80px;
                width: 80px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .main-nav {
        position: fixed;
        left: -250px;
        width: 250px;
        top: 64px;
        bottom: 0;
        transition: left 0.3s ease-in-out;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        .nav-list {
            width: 100%;
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .nav-item {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;

                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 1rem 1rem 1rem;
                    color: #0a84ff;
                    text-decoration: none;
                    font-weight: 600;
                    width: 100%;
                    cursor: pointer;
                    transition: background-color .4s ease-in-out, color .4s ease-in-out;

                    &:hover {
                        color: #0d69c5;
                    }

                    .arrow-icon {
                        transform: rotate(-90deg);
                        transition: transform 0.3s ease-in-out;
                    }

                    svg {
                        margin-left: 0.5rem;
                    }
                }

                &.dropdown {
                    display: flex;

                    .dropdown-toggle {
                        color: #0a84ff;

                        &:hover {
                            color: #0d69c5;
                        }
                    }

                    .dropdown-menu {
                        background-color: #f1f1f1;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: blueviolet;
                        width: 100%;
                        padding: 0;

                        li {
                            height: 100%;
                            width: 100%;

                            .nav-link-dropdown {
                                padding: 1rem;
                                font-weight: 700;
                                display: flex;
                                text-decoration: none;
                                width: 100%;
                                cursor: pointer;
                                text-align: center;
                                font-size: 1rem;
                                color: blueviolet;
                            }
                        }
                    }

                    &:hover {
                        .arrow-icon {
                            transform: rotate(0);
                        }
                    }
                }
            }
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;

        .cart-container {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 15px;

            .icon-carrito {
                color: var(--secondary-color);
            }

            .cart-count {
                position: absolute;
                top: -8px;
                right: -8px;
                background-color: #0a84ff;
                color: white;
                font-size: 0.7rem;
                font-weight: bold;
                padding: 2px 6px;
                border-radius: 50%;
            }
        }

        .picture-container {
            display: none;
            align-items: center;
            padding: 0 .5rem;
            height: 100%;

            @media screen and (min-width: 820px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                .user-picture {
                    cursor: pointer;
                    width: 55px;
                    height: 55px;
                    object-fit: cover;
                    background-color: white;
                    border-radius: 50%;
                    padding: 0.3rem;
                }
            }
        }
    }
}

/* Media queries */
@media screen and (min-width: 820px) and (max-width: 1000px) {
    .main-header {
        height: 80px;
        font-size: 1rem;
        font-weight: 700;

        .logo {
            padding-left: 10px;
        }

        .user-info {
            margin-left: auto;

            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

            .nav-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-align: center;
                background-color: #f1f1f1;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    height: 100%;
                    
                    &:hover {
                        color: blueviolet;
                    }

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        height: 100%;
                    }

                    &.dropdown {
                        height: 100%;

                        .dropdown-toggle {
                            height: 100%;
                        }

                        .dropdown-menu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            text-align: center;
                            background-color: #2c2c2c;

                            .nav-link-dropdown {
                                background-color: #2c2c2c;
                                color: blueviolet;
                                text-align: center;
                                font-size: 14px !important;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .main-header {
        font-size: 1.2rem;
        height: 80px;

        .avib-technology {
            display: block;
            height: 30px;
            background-color: black;
            color: white;
            padding: 0.7rem 0;

            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                text-align: center;
                font-weight: bold;
            }
        }

        .user-info {
            margin-left: 0;

            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

        .nav-list {
            display: flex;
            flex-direction: row;
            padding: 0;
            height: 100%;
            background-color: #f1f1f1;

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                height: 100%;
                &:hover {
                    background-color: #e5e7eb;
                    color: #0a84ff;
                }

                a.nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    height: 100%;
                }

                &.dropdown {
                    height: 100%;
                    
                    &:hover {
                        background-color: #e5e7eb;
                        color: #0a84ff;
                    }
                    .dropdown-toggle {
                        height: 100%;
                    }
                    .dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        text-align: center;
                        background-color: #2c2c2c;

                        .nav-link-dropdown {
                            background-color: #2c2c2c;
                            color: #0a84ff;
                            text-align: center;
                            font-size: 14px !important;
                            padding: 0;
                        }
                    }
                }
            }
        }
        }
    }
}

@media screen and (min-width: 1201px) {
    .main-header {
        font-size: 1.2rem;
        height: 80px;

        .logo {
            padding-left: 20px;
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

            .nav-list {
                display: flex;
                flex-direction: row;
                padding: 0;
                height: 100%;
                background-color: #f1f1f1;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    height: 100%;

                    &:hover {
                        color: #0a84ff;
                    }

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        height: 100%;
                        color: blueviolet;
                    }

                    &.dropdown {
                        height: 100%;

                        &:hover {
                            color: rgb(100, 18, 177);
                        }

                        .dropdown-toggle {
                            height: 100%;
                            color: blueviolet;
                        }

                        .dropdown-menu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            text-align: center;
                            background-color: #2c2c2c;

                            .nav-link-dropdown {
                                display: flex;
                                align-items: flex-start;
                                justify-content: center;
                                background-color: #2c2c2c;
                                color: blueviolet;
                                text-align: center;
                                font-size: 14px !important;
                                transition: background-color 0.4s ease-in-out;

                                &:hover {
                                    background-color: #9090908f;
                                }
                            }
                        }
                    }
                }
            }

            .user-info {
                margin-left: 0;

                .cart-container {
                    i {
                        font-size: 2.5rem;
                    }
                }

                .picture-container {
                    display: flex !important;
                    align-items: center;
                    justify-content: center;

                    span {
                        .user-picture {
                            display: flex !important;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
