.main-header {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: fixed;
    top: 0;
    width: 100dvw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);

    .input-burger {
        display: none;
    }

    .input-burger:checked {
        ~.main-nav {
            left: 0 !important;
        }

        ~.burger-container {
            .burger {
                background-color: transparent;
            }

            .burger::before {
                top: 0;
                transform: rotate(45deg);
            }

            .burger::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    .burger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        cursor: pointer;

        .burger {
            width: 26px;
            height: 3px;
            background-color: var(--secondary-color);
            position: relative;
        }

        .burger::before,
        .burger::after {
            content: "";
            width: 26px;
            height: 3px;
            background-color: var(--secondary-color);
            transition: transform .3s ease-in-out;
        }

        .burger::before {
            position: absolute;
            top: -8px;
        }

        .burger::after {
            position: absolute;
            top: 8px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            .nav-logo {
                height: 80px;
                width: 80px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .main-nav {
        position: fixed;
        left: -250px;
        width: 250px;
        top: 59px;
        bottom: 0;
        transition: left .3s ease-in-out;
        background-color: white;

        .nav-list {
            
            li.nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                a.nav-link {
                    display: inline-block;
                    color: rgb(19, 12, 118);
                    text-decoration: none;
                    padding: 1rem;
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background-color: #ebebeb;
                    }
                }
            }
        }
    }

    .user-info {
        display: flex;

        .cart-container {
            display: flex;
            align-items: center;
            padding-right: 1rem;
            position: relative;
            
            .icon-carrito {
                color: var(--secondary-color);
            }
            .cart-count {
                position: absolute;
                top: -7px;
                right: 7px;
                background-color: rgb(255, 44, 44);
                color: white;
                font-size: 12px;
                font-weight: bold;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                font-size: .8rem;
                border: none;
                align-items: center;
                justify-content: center;
            }
        }

        .picture-container {
            display: none;
            align-items: center;
            padding: 0 .5rem;

            .user-picture {
                width: 55px;
                height: 55px;
                object-fit: cover;
                background-color: white;
                border-radius: 50%;
                padding: .3rem;
            }

            label {
                color: var(--secondary-color);
                transition: color .4s ease-in-out;
                user-select: none;

                &:hover {
                    color: #280696;
                }
            }
        }
    }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {

    .main-header {
        height: 80px;
        font-size: 1rem;
        font-weight: 700;

        .logo {
            padding-left: 10px;
        }

        .user-info {
            margin-left: auto;

            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                align-items: center;
                justify-content: center;
                
                label {
                    cursor: pointer;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {

    .main-header {
        font-size: 1.2rem;
        height: 80px;

        .avib-technology {
            display: block;
            height: 30px;
            background-color: black;
            color: white;
            padding: .7rem 0;
    
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                text-align: center;
                font-weight: bold;
            }
        }

        .user-info {
            margin-left: 0;

            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                margin-right: 20px;
                align-items: center;
                justify-content: center;
                
                label {
                    cursor: pointer;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) {

    .main-header {
        font-size: 1.2rem;
        height: 80px;

        .logo {
            padding-left: 20px;
        }

        .user-info {
            margin-left: 0;

            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                margin-right: 20px;
                align-items: center;
                justify-content: center;
                
                label {
                    cursor: pointer;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: 100%;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
