.order-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-height: 70dvh;
}

.order-container-title {
    text-align: center;
    span {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
    }
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    flex: 1;
    margin-left: 1rem;
}

.product-info h4 {
    margin: 0;
    font-size: 1rem;
}

.product-info p {
    margin: .3rem .3rem .3rem 0;
    color: #888;
    font-size: 0.8rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.product-quantity button {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-quantity button:hover {
    background-color: #aaa;
}

.product-quantity span {
    font-weight: bold;
}

/*------------------*/
.order-summary {
    margin-top: 2rem;
    text-align: right;
}

.order-summary p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.order-summary h3 {
    font-size: 1.4rem;
    color: rgb(22, 166, 20);
    margin: 0.5rem 0;
}
.order-buttons {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .buy-button, .btn-clean {
        background-color: black;
        color: white;
        width: 40%;
        padding: 0.8rem;
        border: none;
        border-radius: 12px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .btn-clean {
        background-color: rgb(218, 33, 33);

        &:hover {
            background-color: rgb(152, 15, 15);
        }
    }
    .next-button:hover {
        background-color: #333;
    }
}
