.main-container-contact {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 50px;
    width: 100vw;
    gap: 10px;
    margin-top: 20px;

    .formulario-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .contact-form {
            font-weight: 700;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            border-radius: 8px;
            background-color: var(--secondary-color);
            color: white;

            .input-group {
                padding: 8px;
        
                label {
                    display: block;
                    font-size: 12px;
                    margin-bottom: 4px;
                }
        
                input,
                textarea,
                select {
                    width: 100%;
                    border: 1px solid royalblue;
                    font-family: 'Roboto', sans-serif;
                    padding: 8px;
                    outline: none;
                    border-radius: 4px;
                }
            }
        
            .btn {
                margin-top: 16px;
                padding: 10px 20px;
                background-color: var(--primary-color);
                color: white;
                font-weight: bold;
                border-radius: 4px;
                cursor: pointer;
                outline: none;
                border: none;
                transition: background-color .5s ease-in-out, color .5s ease-in-out, scale .5s ease-in-out;
                &:hover {
                    background-color: white;
                    color: var(--secondary-color);
                    scale: 1.025;
                }
            }
        }
    }
    .mapa {
        width: 100%;
        iframe {
            width: 100%;
        }
    }

}

hr {
    margin-bottom: 60px;
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
    .main-container-contact {
        display: flex;
        flex-direction: row !important;
        align-items: stretch;
        .mapa {
            width: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
        
    .main-container-contact {
        display: flex;
        flex-direction: row !important;
        align-items: stretch;
        .mapa {
            width: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    
    .main-container-contact {
        display: flex;
        flex-direction: row !important;
        align-items: stretch;
        .mapa {
            width: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}