.coverflow-container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverflow-slide {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: transform .6s ease, opacity .6s ease-in-out, filter .6s ease-in-out;
    opacity: .5;
    pointer-events: none;
    filter: grayscale(30%);

    .card {
        transform: scale(.75);
        transition: transform .5s ease-in-out;
    }
}

/* Activa */
.swiper-slide-active {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    filter: none;

    .card {
        transform: scale(1.1);
    }
}

