.coverflow-container {
    background: linear-gradient(to right, #dab9f7, #9090e8);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverflow-swiper {
    width: 100%;
    max-width: 1200px;
}

.coverflow-slide {
    width: 280px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
