.order-sidebar {
    position: fixed;
    top: -5px;
    right: -60%;
    width: 85%;
    height: 100%;
    z-index: 10;
    padding: 0 1rem;
    margin-top: 64px;
    overflow: hidden;
    background-color: rgb(6, 7, 73);
    color: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;

    &.active {
        right: 0;
    }

}

@media screen and (min-width: 820px) and (max-width:  1000px) {

    .order-sidebar {
        width: 40%;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1200px) {

    .order-sidebar {
        width: 35%;
    }

}

@media screen and (min-width: 1201px) {

    .order-sidebar {
        width: 40%;
    }

}