.main-footer {
    background-color: #eaf1f7;
    margin-top: 4rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--secondary-color);

    .footer-1 {
        flex-wrap: wrap;
        gap: 2rem;

        
        section {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 1rem 0;
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--secondary-color);
                text-align: center;
            }
        }

        .footer-social {
            border-bottom: 2px solid var(--secondary-color);
            ul  {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                padding: 0;
                margin: 1rem 0;
                li {
                    a {
                        border-radius: 50%;
                        text-decoration: none; 
                        color: white;
                        padding: 1rem;
                        margin-bottom: 10px;
                        font-size: 1.5rem;
                        display: inline-block;
                        transition: background-color .4s ease-in-out, color .4s ease-in-out, transform .4s ease-in-out;

                        &.facebook {
                            background-color: #3b5998;
                            padding: 1rem 1.4rem;
                            font-size: 1.4rem;
                            

                            &:hover {
                                color: #3b5998;
                            }
                        }
                        &.whatsapp {
                            background-color: #25D366;
                            color: white;
                            
                            &:hover {
                                color: #25D366;
                            }
                        }
                        &.instagram {
                            background: radial-gradient(circle at 30% 30%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                            color: white;
                            
                            &:hover {
                                color: #d6249f;
                            }
                        }
                        &:hover {
                            color: inherit;
                            transform: scale(1.1);
                        }
                    }
                    &:nth-child(1) a { 
                        transition-delay: 0.1s; 
                    }
                    &:nth-child(2) a { 
                        transition-delay: 0.2s; 
                    }
                    &:nth-child(3) a { 
                        transition-delay: 0.3s; 
                    }
                }
            } 
        }
        
        .footer-brand {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            border-bottom: 2px solid var(--secondary-color);

            h3 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--secondary-color);
            }

            img {
                width: 75px;
                object-fit: cover;
                border-radius: 50%;
                background-color: white;
            }
        }

        .footer-info {
            display: flex;
            flex-direction: column;
            color: #3b5998;

            .container-info {
                
                .footer-links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    h4 {
                        text-align: center;
                        padding: 1rem 1.2rem;
                        border-bottom: 2px solid var(--secondary-color);
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0;
                        li {
                            a {
                                display: inline-block;
                                background-color: transparent;
                                text-align: center;
                                text-decoration: none;
                                font-size: 14px;
                                padding: 1rem;
                                font-weight: 700;
                                color: #3b5998;
                                border-bottom: 2px solid transparent;
                                transition: border-bottom .4s ease, padding .4s ease;
                                animation: borderRadiusChange 4s infinite;

                                &:hover {
                                    border-bottom: 2px solid var(--secondary-color);
                                    box-shadow: 3px 3px 5px 1px #465c8a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-2 .last-line {
        h5 {
            text-align: center;
            background-color: var(--secondary-color);
            padding: .9rem 1rem;
            margin-bottom: 0;
            font-size: .9rem;
            font-weight: 700;
            color: white;
        }
    }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
    .main-footer {
        display: flex;
        flex-direction: column;

        .footer-1 {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            .footer-social {
                border-left: 1px solid var(--secondary-color);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 20px;
                flex: 1;
                
                h3 {
                    margin: 3rem 0;
                }
                ul {
                    gap: 60px;
                }
            }
    
            .footer-brand {
                flex: 1;
                padding-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 20px;
    
                h3 {
                    margin: 3rem 0;
                }
                
                .image {
                    height: 200px;
                    width: 200px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
            .footer-info {
                flex: 1;
                border-right: 1px solid var(--secondary-color);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 20px;
    
                h3 {
                    margin: 3rem 0;
                }
    
                .container-info {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .main-footer {
        font-size: 1.3rem;
        flex-direction: column;

        .footer-1 {
            display: flex;
            flex-direction: row !important;
            .footer-social {
                flex: 1;
                order: 2;
                padding: 20px;
                
                h3 {
                    margin: 3rem 0;
                }
                ul {
                    gap: 40px;
                    li {
                        a {
                            scale: 1.5;
                        }
                    }
                }
            }
    
            .footer-brand {
                flex: 1;
                justify-content: flex-start;
                padding: 20px;
                align-items: center;
                gap: 1rem;
                border-right: 1px solid var(--secondary-color);
    
                h3 {
                    margin: 3rem 0;
                }
                
                .image {
                    height: 250px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
            .footer-info {
                display: flex;
                flex-direction: column;
                flex: 1;
                border-right: 1px solid var(--secondary-color);
    
                h3 {
                    margin: 3rem 0;
                }
    
                .container-info {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .main-footer {
        font-size: 1.3rem;
        flex-direction: column;

        .footer-1 {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            
            
            .footer-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 70px;
                padding: 0 4rem;
                flex: 1;

                ul {
                    gap: 80px;
                    li {
                        a {
                            scale: 1.5;
                        }
                    }
                }
            }
            .footer-brand {
                order: -1;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 70px;
                border-right: 2px solid var(--secondary-color);

                h3 {
                    padding: 10px 20px;
                }

                img {
                    scale: 2;
                    object-fit: cover;
                }
            }
            .footer-info {
                display: flex;
                flex: 1;
                flex-direction: column;
                order: -1;
                padding: 0 1rem 1rem 1rem;
                border-right: 2px solid var(--secondary-color);
                h3 {
                    color: var(--secondary-color);
                    padding: 10px;
                }
                .container-info {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    align-items: flex-start;
                    justify-content: space-between;
                    .name, .mision-vision, .horario {
                        background-color: var(--secondary-color) !important;
                        h4 {
                            margin-bottom: 30px;
                        }
                    }
                    .name {
                        border-radius: 20px 20px 0 0;
                        border-bottom: 1px solid black;
                    }
                    .mision-vision {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }

    body {
        a.link-whatsapp {
            width: 50px;
            height: 50px;
            img {
                width: 100%;
                height: 100%;
            }
            
            &:hover {
                scale: 1.2;
            }
        }
    }
}

@keyframes borderRadiusChange {
    0%, 100% {
        border-radius: 0;
    }
    25% {
        border-radius: 15px 50% 15px 50%;
    }
    50% {
        border-radius: 50%;
    }
    75% {
        border-radius: 50% 15px 50% 15px;
    }
}